<div class = "input_new">
<form action='/spellbooks/type' method ='POST'>
<h3>Please select the class for your spellbook:</h3>
    <label for="bard">Bard</label>
    <input type="radio" id="bard" name="klass" value="Bard"> <br>
    <label for="cleric">Cleric</label>
    <input type="radio" id="cleric" name="klass" value="Cleric"><br>
    <label for="druid">Druid</label>
    <input type="radio" id="druid" name="klass" value="Druid"><br>
    <label for="paladin">Paladin</label>
    <input type="radio" id="paladin" name="klass" value="Paladin"><br>
    <label for="ranger">Ranger</label>
    <input type="radio" id="ranger" name="klass" value="Ranger"><br>
    <label for="sorcerer">Sorcerer</label>
    <input type="radio" id="sorcerer" name="klass" value="Sorcerer"><br>
    <label for="warlock">Warlock</label>
    <input type="radio" id="warlock" name="klass" value="Warlock"><br>
    <label for="wizard">Wizard</label>
    <input type="radio" id="wizard" name="klass" value="Wizard"><br>
<input type="submit" value ="Create New SpellBook" class = "entry_button">
</form>
</div>