<h1> Howdy <%= current_user.username %>, this is your profile </h1>
<% #binding.pry %>
<footer>
<a href = '/'> Home </a>
<a href = '/spells'> Spells list </a>
<a href= '/logout'> Logout </a> 
   </footer>