<h1> Howdy <%= current_user.username %>, this is your profile </h1>
<footer>
<ul>
   <li> <a href = '/'> Home </a>  </li>
   <li> <a href = '/spells'> Spells list </a> </li>
   <li> <a href = '/spellbooks'> Spellbooks </a> </li>
   <li> <a href = '/spellbooks/new'> New Spellbook </a> </li>
   <li> <a href= '/logout'> Logout </a>  </li>
</ul>
   </footer>